<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>News Article Scraper</title>
</head>
<body>
	<form action="/url" method="post">
		<p>Enter a URL to scrape</p>
		<input type="url" name="scrapepage"><br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>